html, body, header, nav, h1, h2, h3, h4, h5, h6 a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: white;
  text-align: inherit;
  text-decoration: inherit;
  letter-spacing: 1px;
  vertical-align: inherit;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  height: auto;
}

html {
 box-sizing: border-box;
}

button {
  cursor: pointer;
}

* {font-family: 'Orbitron', sans-serif}