.bg-screenshot {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  opacity: .1;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: background-image 3s ease-in-out;
  
  
  // img {
  //   // transition: src 2s ease-in;
  //   object-fit: contain;
  //   height: 100%;
  //   width: 100%;
  // }
}