.bg-screenshot {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  opacity: .20;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: background-image 3s ease-in-out;
  background: url('../assets/background.jpg');
  background-size: cover;
}
