.game-item-wrapper {
  
  display: flex;
  height: 100%;
  max-height: 200px;
  margin: 30px 5px;

  
  .game-item {
    height: 100%;
    
    .similar-game-thumb {
      // height: 90%;
      width: 18vw;
      object-fit: contain;
    }
  }
}