
body {
  background: #111111;
}

#root {
  background: transparent;
}

.main {
  background: transparent;
}

.landing {
  display: flex;
  flex-direction: column;
  align-content: center;
  background: transparent;

  .game-title-container {
    font-family: 'Orbitron', sans-serif;
    position: relative;
    height: 30vh;
    background: transparent;

    .game-title {
      position: absolute;
      bottom: 30px;
      left: 100px;
      font-size: 44px;
    }
  }


}