.navbar {
  padding: 20px;
  margin-bottom: 150px;
  position: relative;
  font-size: 14px;
}

.vapor-title {
  color: #A6E22E;
}

.session {
  position: absolute;
  top: 10px;
  right: 20px;

  a,
  button {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    background: none;
    font-size: 12px;
    margin-left: 5px;
    border-radius: 5px;
    color: #555;
    transition: color 0.5s;

    &:hover {
      color: white;
    }

    &.active {
      color: white;
      cursor: initial;
    }
  }
}
