.dashboard {
  margin-top: 100px;
  background: #222;
  padding: 20px;
  border-radius: 5px;
}

.dashboard-avatar {
  border-radius: 50%; 
  margin-top: -100px;
  float: left;
  margin-right: 20px;
}

.dashboard-name {
  margin-bottom: 10px;
}

.dashboard-timePlayed {
  font-size: 12px;
}

.dashboard-topGames {
  margin-top: 50px;
}

.dashboard-topGames-title {
  margin-bottom: 10px;
  font-size: 20px;
}

.dashboard-ownedGame {
  display: inline-block;
  border-radius: 5px;
}

#dedication-score-chartdiv text, #dedication-score-chartdiv input {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #fff;
  fill: #fff;
}

#dedication-score-chartdiv {
  margin-top: 50px;
  margin-bottom: 50px;
}

.dashboard-dedication-score-title {
  margin-left: 200px;
  margin-top: 50px;
}