.dashboard {
  margin-top: 100px;
  background: rgba(0,0,0,0.50);
  padding: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  margin-bottom: 50px;
}

.dashboard-avatar {
  margin-top: -100px;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
  box-shadow: 0 0 5px black;
}

.dashboard-name {
  color: #555;
}

.dashboard-username {
  font-size: 32px;
}

.dashboard-timePlayed {
  font-size: 12px;
}

.dashboard-topGames-title {
  margin-bottom: 10px;
  font-size: 20px;
}

.dashboard-ownedGame {
  display: inline-block;
  width: 20%;
  margin-bottom: -4px;
}

#dedication-score-chartdiv text, #dedication-score-chartdiv input {
  color: #fff;
  fill: #fff;
}

#dedication-score-chartdiv {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dashboard-dedication-score-title {
  margin-left: 200px;
  margin-top: 50px;
  font-size: 26px;
}

.fa-info-circle {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.fa-info-circle .dedication-score-info-text {
  visibility: hidden;
  width: 600px;
  background-color: black;
  color: rgb(56, 248, 255);
  font-weight: 300;
  font-size: 10;
  text-align: start;
  line-height: 1.5;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%; 
  margin-left: -400px;
}

.fa-info-circle:hover .dedication-score-info-text {
  visibility: visible;
}

.orange {
  color: #FD971F;
}

.dashboard-stats {
  padding: 20px;
}

.dashboard-stat {
  box-sizing: border-box;
  width: 24%;
  display: inline-block;
  margin-right: 1.3333%;
  text-align: center;
  background: #111;
  vertical-align: top;
  border-radius: 5px;
}

.dashboard-stat:last-of-type {
  margin-right: 0;
}

.dashboard-stat-orange {
  background: #FD971F;

  .dashboard-stat-title {
    background: #BE530B;
  }

  .dashboard-stat-average {
    color: #BE530B;
  }
}

.dashboard-stat-blue {
  background: #66D9EF;

  .dashboard-stat-title {
    background: #2295AB;
  }

  .dashboard-stat-average {
    color: #2295AB;
  }
}

.dashboard-stat-green {
  background: #A6E22E;

  .dashboard-stat-title {
    background: #62B00B;
  }

  .dashboard-stat-average {
    color: #62B00B;
  }
}

.dashboard-stat-red {
  background: #F92672;

  .dashboard-stat-title {
    background: #750240;
  }

  .dashboard-stat-average {
    color: #750240;
  }
}

.dashboard-stat-title {
  font-size: 12px;
  background: #111;
  margin-bottom: 25px;
  padding: 15px 50px;
}

.dashboard-stat-user {
  font-weight: 700;
  font-size: 48px;
  display: block;
  color: white;
}

.dashboard-stat-average {
  font-size: 10px;
  display: block;
  padding-bottom: 25px;
}

.dashboard-topGames {
  margin: 0 20px;
  border-radius: 10px;
  overflow: hidden;
}
