.dashboard {
  margin-top: 100px;
  background: rgba(0,0,0,0.75);
  padding: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
  margin-bottom: 50px;
}

.dashboard-avatar {
  margin-top: -100px;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
  box-shadow: 0 0 5px black;
}

.dashboard-name {
  color: #555;
}

.dashboard-username {
  font-size: 32px;
}

.dashboard-timePlayed {
  font-size: 12px;
}

.dashboard-topGames-title {
  margin-bottom: 10px;
  font-size: 20px;
}

.dashboard-ownedGame {
  display: inline-block;
  width: 20%;
  margin-bottom: -4px;
}

#dedication-score-chartdiv text, #dedication-score-chartdiv input {
  color: #fff;
  fill: #fff;
}

#dedication-score-chartdiv {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dashboard-dedication-score-title {
  margin-left: 200px;
  margin-top: 50px;
  font-size: 26px;
}

.fa-info-circle {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.fa-info-circle .dedication-score-info-text {
  visibility: hidden;
  width: 600px;
  background-color: black;
  color: rgb(56, 248, 255);
  font-weight: 300;
  font-size: 10;
  text-align: start;
  line-height: 1.5;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%; 
  margin-left: -400px;
}

.fa-info-circle:hover .dedication-score-info-text {
  visibility: visible;
}

.dashboard-header {
  margin-bottom: 20px;
}

.orange {
  color: #FD971F;
}

.blue {
  color: #66D9EF;
}

.green {
  color: #A6E22E
}

.red {
  color: #F92672;
}

.dashboard-stat {
  box-sizing: border-box;
  display: inline-block;
  width: 25%;
  text-align: center;
  background: #111;
  border: 1px solid #000;
  vertical-align: top;
}

.dashboard-stat-title {
  font-size: 12px;
  background: #000;
  margin-bottom: 25px;
  padding: 15px 0;
  border: 1px solid #111;
}

.dashboard-stat-user {
  font-weight: 700;
  font-size: 48px;
  display: block;
}

.dashboard-stat-average {
  font-size: 10px;
  color: #555;
  display: block;
  padding-bottom: 25px;
}
